.soft-border{ 
border: 4px solid rgb(14, 236, 14);
margin: 20px;
padding: 20px;
}

.iframe{
    Margin: 0 auto;
    width: 560px;
    height: 315px;
    }

.center-title{ 
    Margin: 0 auto;
    width: 400px;
}
h1 {
    margin-left: 50px;
    margin-right: 50px ; 
}
h2 {
    margin-left: 50px;
    margin-right: 50px ;
}
h3 {
    margin-left: 50px;
    margin-right: 50px ;
}
h4 {
    margin-left: 50px;
    margin-right: 50px ;
}
p {
    margin-left: 40px;
    margin-right: 40px ; 
    padding: 5px;
}
form {
    background-image: url("https://www.vmm.be/mijn-gifvrije-tuin/assets/img/moestuin/illustrations/moestuin_13.png");
    Display: block  
    width: 100%;
    height: 100%;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    background-color: lightblue (158, 157, 157);
     }

@media (min-width: 1024px) {                                                          
    body {                                                                             
        background-color: rgb(248, 244, 202);   
        font-size: 16px;
        line-height: 23px;}

        .center-title{ 
            Margin: 0 auto;
            width: 800px;
